@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200&display=swap');

/* GERAL */

*{
    margin: 0px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: #201b2c;
}

/* CABEÇALHO */


.search {
    color: black;
}
.area-login{
    background: #2f2841 ;
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: space-between;
}

.iconeLogin{
    margin-left: 1rem;
    
}

.iconeLoginSigla{
    padding-left: 1rem;
}

.icone-cabecalho{
    padding-top: 0.5rem;
    padding-left: 1.5rem;
}
.icone-cabecalho:hover{
    transform: scale(1.2);
}

.login{
    padding-right: 1.5rem;
    color: white;
}

.link{
    padding: 1rem;
    text-decoration: none;
    color: white;
}
.botao {
    background-color: rgba(255, 255, 255, 0.866);
    color: black;
    width: 10%;
    padding: 0.6rem;
    border-radius: 2rem;
    margin-right: 1rem;
    
}
form {
    border-radius: 2rem;
    border: 0.063rem solid;
    right: 12%;
    top: 9%;
    position: absolute;
    width: 8%;
    height: 5%;
    padding-left: 5%;
    margin-left: 10%;
    background-color: white;
}
.search{
    width: 70%;
    border-radius: 3rem;
    right: 2%;
    left: 2%;
    top: 5%;
    position: absolute;
    height: 90%;
    padding-right: 0%;
    margin-left: 10%;
    border: transparent;
}
.lupa{
    border-radius: 5rem;
    right: 5%;
    left: 1%;
    top: 6%;
    position: absolute;
    height: 80%;
    padding-right: 0%;
    margin-left: 5%;
}

.header2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    margin: 0.6rem 0;
}

.logo{
    margin-left: 2.5rem;
    font-family: 'Fantasy', cursive;
    color: white;
}


h1{
    margin-left: 0.625rem;
}

.grafico{
    margin-top: 3rem;
    text-align: center;
}


/* CONTEÚDO PRINCIPAL */

.grid-container {
    background-color: #2f2841;
    font-weight: 800;
    letter-spacing: 3px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0.625rem;
    margin: 0 10%;
    box-shadow: 10px 10px 13px -12px #888888;
}
.grid-item {
  padding: 1.25rem;
  font-size: 1rem;
  text-align: center;
}
.variacao h4,
.volumeAtivo h4{
    margin-top: 1.5rem;
}
.barra{
    border-left: 0.063rem solid white;
}
h4{
    margin-top: 0.438rem;
    color: #B0B0B0;
}
.nomeAtivo{
    line-height: 10rem;
}

.intervalBox{
    padding-left: 80%;
    margin: 1rem 0;
}
.intervalBox select{
    color: black;
}

/* RODAPÉ */

.sugestao{
    margin: 2rem;
    font-weight: bold;
    font-size: 1.563rem;
    text-align: center;
}
footer{
    background-color: #2f2841;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.8rem;
}

/* VERSÃO MOBILE / @MEDIA */

@media (max-width: 750px) {

    /* CABEÇALHO  */

    .logo{
        display: none;
    }
    form{
        right: 0;
        left: -4%;
        width: 81%;
        margin-top: -0.7rem;
    }
    .botao{
        width: 50%;
        margin: 3.5rem auto 0;
        line-height: 0.8rem;
    }
    .header2{
        margin: 0.6rem 0;
    }

    /* CONTEÚDO  */

    .barra{
        border-left: 0;
        border-top: 0.063rem solid white;
    }
    .grid-container{
        grid-template-columns: auto;
    }
    .grid-item.barra{
        padding: 3rem 0;
    }

    /* RODAPÉ */

}